* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1; /* This allows the main content to expand and take up all available space */
    width: 100%;
    background: url(pic/bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}

.navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

/* Increase font size and add spacing between the navbar links */
.navbar-nav a {
    font-size: 18px; /* Increase font size */
    margin: 0 15px;  /* Add horizontal spacing between links */
    color: #000; /* Ensures links are black by default */
    transition: color 0.4s ease;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: rgb(230, 104, 59); /* Hover color */
}

.navbar .logo {
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul li a:hover {
    color: rgb(230, 104, 59);
}

.info {
    margin-left: 6%;
    margin-top: 6%;
}

.info h1 {
    font-size: 45px;
    color: rgb(36, 32, 30);
}

.info h3 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: justify;
    line-height: 1.5;
}

.info span {
    color: rgb(127, 59, 230);
}

.info a {
    text-decoration: none;
    color: #fff;
    background: rgb(36, 32, 30);
    margin: 25px 0;
    padding: 10px 16px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.4s ease;
}

.info a:hover {
    background: rgb(59, 174, 209);
}
.info p, .achievements {
    text-align: justify;
    line-height: 1.8;
}

.image {
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img {
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-35%);
    bottom: 0;
    transition: left 2s ease;
}

.image:hover .girl {
    left: 55%;
}

.icons a {
    text-decoration: none;
    color: #000;
}

.icons ion-icon {
    margin-left: 7%;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: 0.4s ease;
}

.icons ion-icon:hover {
    color: rgb(59, 174, 209);
}

footer {
    background-color: #f1f1f1;
    padding: 8px 0;
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto;
    bottom: 2;
}

footer p {
    margin: 4px 0;
}

footer a {
    color: #000;
    margin: 0 8px;
}

footer a:hover {
    color: rgb(59, 174, 209);
}
